/* 登录页面 */
.login-page{
    height: 100%;
    width: 100%;
    background: url(../../../imgs/bg.jpg);
    overflow: hidden;
  }
/* 左边图片 */
.login-page .left{
    width: 50%;
    height: 100%;
    background-image: url(../../../imgs/bg2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    opacity: .7;
    background-position: 60% 65%;
}

/* 右边表单输入框容器 */
.login-page .login-container{
    width: 25rem;
    height: 30.47619048rem;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    border-radius: 11px;
    background: rgba(0, 0, 0, .2);
    text-align: center;
    z-index: 9;
}

.login-page .title{
    color: #fff;
    margin-top: 100px;
    margin-bottom: 50px;

}
/* 登录页面表单输入框 */
.login-page .demo-loginForm{
    position: absolute;
}

.login-page .el-form-item__label{
    color: #fff!important;
}
.login-page .el-input__inner{
    width: 250px;
    transition: all .5s;
    height: 40px;
    line-height: 100%;
    overflow: hidden;
    color: #fff;
    border: .04761905rem solid #fff;
    background: none;
    padding-left: .95238095rem;
    font-size: .76190476rem!important; 
}

/* 按钮 */
.login-page .el-button--primary{
   width: 100%;
   background: linear-gradient(90deg,#1596fb,#002dff);
}



/* 主体页面 */

/* 容器 */
.home-page{
    height: 100%;
}

.home-page .el-container{
    height: 100%;
}

/* saide */
.home-page .el-aside{
    background: linear-gradient(135deg,#5635df,#4c67ff);
}
.home-page .logo{
    height: 60px;
    background: linear-gradient(135deg,#4c67ff,#5635df);
    background-image: url(../../../imgs/logo.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* 选项布局 */
.home-page .el-radio-group{
    display: none;
}

.home-page .el-submenu .el-menu-item{
    padding: 0 0 0 40px;
}
